:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
}
.board {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    width: 250px;
    margin: auto;
}

.cell.x,
.cell.o {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.o::before,
.cell.o::after {
    background-color: black;
}


.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
    background-color: lightgray;
}


.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .08);
    height: var(--mark-size);
    
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
    
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size) * .85);
    height: calc(var(--mark-size) * .85);
    background-color: white;
}

.flexbox {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

[class*="history-item"].strikeThru {
    text-decoration: line-through;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}